<%
	button_class = task.done? ? "mark-undone" : "mark-done" ;
%>

<div class="task" id="<%= task.id %>">
	<div class="actions">
		<span class="mark-button <%= button_class %>"><%= get_action_link(task) %></span>
		<span class="delete-action">
		<%= link_to '×', task, method: :delete, remote: true %>
	</span>
	</div>

	<div class="title"><%= task.title %></div>


	
</div>